<form>
    <div class="form-group">
        <label for="id1">Name</label>
        <input required ngModel id="id1" type="text" class="form.control" name="N1" #N1="ngModel" (change)="changeN1(N1)" minlength="5" maxlength="10" pattern="Vivek">
        <div class="alert alert-danger" *ngIf="N1.touched && !N1.valid"> 
            There is something wrong with textbox input..... 
        </div>
    </div><br>
    <div class="form-group">
        <label for="id2">Registration Number</label>
        <input required ngModel id="id2" type="text" class="form.control" name="R1" #R1="ngModel" (change)="changeR1(R1)" minlength="5" maxlength="10" pattern="11917600">
        <div class="alert alert-danger" *ngIf="R1.touched && !R1.valid"> 
            There is something wrong with textbox input..... 
        </div>
    </div><br><br>
    <div class="form-group">
        <label for="id3">Feedback</label>
        <textarea id="id3" cols="15" rows="5" class="form.control"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
