<form>
    <div class="form-group">
        <label for="id1">Name</label>
        <input ngModel id="id1" type="text" class="form.control" name="Name" #Name="ngModel" (change)="changeName(Name)">
    </div>
    <div class="form-group">
        <label for="id2">Registration Number</label>
        <input ngModel id="id2" type="text" class="form.control" name="Regno" #Regno="ngModel" (change)="changeRegno(Regno)">
    </div>
    <div class="form-group">
        <label for="id3">Feedback</label>
        <textarea id="id3" cols="20" rows="5" class="form.control"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
